@import '../../shared/index.scss';

.content {
    h2 {
        font-weight: 500;
        font-size: 55px;
    }

    &__input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        input {
            width: 65%;
            border: 1px solid $btn-color;
            border-radius: 12px;
            color: $btn-color;
            outline: 0;
        }

        ::-webkit-input-placeholder {
            position: relative;
            left: 3px;
            font-size: 15px;
            color: $btn-color;
        }

        &--btn {
            padding: 10px 40px;
            border-radius: 12px;
            font-size: 20px;
            color: $font-white;
            background-color: $btn-color;

            &:hover {
                background-color: $font-hover;
                cursor: pointer;
                transition: all 2s ease-in-out;
            }
        }
    }
}
